@import './colors.styl'

button.primary
  background: $button-color
  border: none
  border-radius: 2px
  padding: 10px 25px
  font-size: 1.125em
  transition: all 0.2s
  color: #FFF
  font-weight: 700
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)

button.primary:hover
  background: darken($button-color, 20)

button.secondary 
  background: transparent
  border: 2px solid $button-color
  border-radius: 2px
  padding: 10px 25px
  font-size: 1.125em
  transition: all 0.2s
  font-weight: 700

button.secondary:hover
  background: $button-color
  color: #FFF