$button-color = #4868fe
$tag-color = #404E7C
$link-color = #8e00b7
$dark-background = #1B1B1B
$highlight-color = #79D6B5

$default-gray = #323132
$snow = #fafbfa
$site-purple = #c200fb
$site-red = #fc2f00
$site-blue = #4868fe
$site-yellow = #ffc724
$site-green = #2aea9c