.container 
  width: 960px
  margin: auto

  @media screen and (max-width: 1024px)
    width: 760px !important

  @media screen and (max-width: 800px)
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100% !important;