$base-heading-font-family = 'IBM Plex Sans', sans-serif
$base-heading-font-family-serif = 'IBM Plex Serif', serif
$base-body-font-family = 'IBM Plex Sans', sans-serif
$base-mono-font-family = 'IBM Plex Mono', monospace
$base-heading-font-weight = 200
$base-line-height= 1.5em
$text-color = #323132
$text-color-light = #424142
$text-color-lighter = #727172

$text-color-dark = #fff
$text-color-dark-light = #e2e2e2
$text-color-dark-lighter = #d2d2d2

body, h1, h2, h3, h4, h5, h6
  font-family: $base-heading-font-family
  font-weight: $base-heading-font-weight
  color: $text-color 
  line-height: $base-line-height
  @media only screen and (prefers-color-scheme: dark) {
    color: $text-color-dark 
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.369em
}

h2 {
  font-size: 1.777em
}

h3 {
  font-size: 1.333em

  &.small-header {
    font-size: 1.2em
    text-transform: uppercase;
    font-weight: 600;
    color: $text-color-lighter;
    @media only screen and (prefers-color-scheme: dark) {
      color: $text-color-dark-lighter; 
    }
  }
}

h1.page-headline 
  font-family: $base-heading-font-family-serif
  font-weight: $base-heading-font-weight

p, input, textarea
  font-family: $base-body-font-family
  font-weight: 300
  color: $text-color-light
  line-height: $base-line-height
  font-size: 1.125em
  margin-bottom: 20px

  @media only screen and (prefers-color-scheme: dark) {
    color: $text-color-dark-light; 
  }

blockquote {
  margin-bottom: 20px
  padding: 2em; // match the code block styling from prismjs
  border-left: 3px solid $default-gray;
  background: $snow;
  
  @media only screen and (prefers-color-scheme: dark) {
    background: $snow-dark;
  }

  p {
    font-style: italic;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  strong {
    font-weight: 600;
  }

}

input, textarea {
  @media only screen and (prefers-color-scheme: dark) {
    background: #2a2a2a;
  }
}


ul
  font-family: $base-body-font-family 
  color: $text-color
  @media only screen and (prefers-color-scheme: dark) {
    color: $text-color-dark; 
  }
  line-height: $base-line-height
  list-style-type: circle
  font-size: 1.125em

li
  list-style: disc inside

span
  font-family: $base-body-font-family

button, a
  color: $link-color
  font-family: $base-body-font-family
  @media only screen and (prefers-color-scheme: dark) {
    color: $link-color-dark;
  }

a.footer-button {
  text-decoration: none
  background: transparent
  border: 2px solid white
  border-radius: 2px
  padding: 5px 10px
  font-size: 0.85em
  transition: all 0.2s
  font-weight: 500
  color: white
  
  &:hover {
    background: white
    color: #323132
  }
}

.semibold {
  font-weight: 600;
}