$base-heading-font-family = 'IBM Plex Sans', sans-serif
$base-heading-font-family-serif = 'IBM Plex Serif', serif
$base-body-font-family = 'IBM Plex Sans', sans-serif
$base-heading-font-weight = 200
$base-line-height= 1.5em
$text-color = #323132
$text-color-light = #424142

body, h1, h2, h3, h4, h5, h6
  font-family: $base-heading-font-family
  font-weight: $base-heading-font-weight
  color: $text-color 
  line-height: $base-line-height

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.369em
}

h2 {
  font-size: 1.777em
}

h3 {
  font-size: 1.333em
}

h1.page-headline 
  font-family: $base-heading-font-family-serif
  font-weight: $base-heading-font-weight

p, input, textarea
  font-family: $base-body-font-family
  font-weight: 300
  color: $text-color-light
  line-height: $base-line-height
  font-size: 1.125em
  margin-bottom: 20px

ul
  font-family: $base-body-font-family 
  color: $text-color
  line-height: $base-line-height
  list-style-type: circle
  font-size: 1.125em

li
  list-style: disc inside

span
  font-family: $base-body-font-family

button, a
  color: $link-color
  font-family: $base-body-font-family

a.footer-button {
  text-decoration: none
  background: transparent
  border: 2px solid white
  border-radius: 2px
  padding: 5px 10px
  font-size: 0.85em
  transition: all 0.2s
  font-weight: 500
  color: white
  
  &:hover {
    background: white
    color: #323132
  }
}