@import 'colors.styl'

$image-border-style = darken($snow, 10) 1px solid
$image-border-style-dark = lighten($snow-dark, 10) 1px solid

.span-purple {
  color: $site-purple;
}

.span-red {
  color: $site-red;
}

.span-blue {
  color: $site-blue;
}

.span-yellow {
  color: $site-yellow;
}

.span-green {
  color: $site-green;
}