@import 'colors.styl'

$image-border-style = #ccc 0.5px solid

.span-purple {
  color: $site-purple;
}

.span-red {
  color: $site-red;
}

.span-blue {
  color: $site-blue;
}

.span-yellow {
  color: $site-yellow;
}

.span-green {
  color: $site-green;
}